[global]
refresh=2
check_update=False
history_size=1200

[outputs]
curse_theme=black
max_processes_display=30

[quicklook]
disable=False
percentage_char=|
cpu_careful=50
cpu_warning=70
cpu_critical=90
mem_careful=50
mem_warning=70
mem_critical=90
swap_careful=50
swap_warning=70
swap_critical=90

[system]
disable=False

[cpu]
disable=False

[percpu]
disable=False

[gpu]
disable=False

[mem]
disable=False
careful=50
warning=70
critical=90

[memswap]
disable=False
careful=50
warning=70
critical=90

[load]
disable=False
careful=0.7
warning=1.0
critical=5.0

[network]
disable=False
rx_careful=70
rx_warning=80
rx_critical=90
tx_careful=70
tx_warning=80
tx_critical=90
hide=lo
wlan0_alias=wifi

[ip]
disable=False
public_refresh_interval=300
public_ip_disabled=False

[connections]
disable=True

[wifi]
disable=True

[diskio]
disable=False
hide=loop.*,/dev/loop.*,^nvme0n1$
nvme0n1p1_alias=/boot
nvme0n1p2_alias=/

[fs]
disable=False
hide=/boot.*,/snap.*

[irq]
disable=True

[folders]
disable=False
# Define a folder list to monitor
# The list is composed of items (list_#nb <= 10)
# An item is defined by:
# * path: absolute path
# * careful: optional careful threshold (in MB)
# * warning: optional warning threshold (in MB)
# * critical: optional critical threshold (in MB)
# * refresh: interval in second between two refreshes
folder_1_path=/home/joshmock/.cache
folder_1_careful=15000
folder_1_warning=20000
folder_1_critical=25000
folder_1_refresh=60
folder_2_path=/home/joshmock/.local
folder_2_careful=10000
folder_2_warning=12000
folder_2_critical=15000
folder_2_refresh=60

[raid]
disable=True

[smart]
disable=True

[hddtemp]
disable=True

[sensors]
disable=False

[processcount]
disable=False

[processlist]
disable=False
nice_warning=-20,-19,-18,-17,-16,-15,-14,-13,-12,-11,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19

[ports]
disable=False
refresh=30
timeout=3
port_default_gateway=True

[docker]
disable=False
max_name_size=20
all=False

[amps]
disable=False

[graph]
generate_every=0

{{ if .work -}}
[amp_elastic_endpoint]
enable=True
regex=.*elastic-endpoint.*
refresh=30
countmin=1

[amp_elastic_agent]
enable=True
regex=.*elastic-agent.*
refresh=30
countmin=1
{{- end }}

[serverlist]
server_1_name=tpi-node3
server_1_alias=tpi-node3
server_2_name=tpi-node4
server_2_alias=tpi-node4
server_3_name=nas
server_3_alias=nas
