.DS_Store
work_stuff
pydistutils.cfg
vim/tmp
vim/.netrwhist
config/nvim/.netrwhist
twitter-credentials
elastic
echonest
vim/bundle
config/nvim/bundle
config/nvim/plugged
djlazy
react-storybook-usage.json
config/nvim/undodir/
*.swp
