# vim:ft=swayconfig

# Auth with polkit-gnome:
exec /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1

# start 1password
exec 1password --silent

# Desktop notifications
exec mako

# Network Applet
exec nm-applet --indicator

# GTK3 applications take a long time to start
exec systemctl --user import-environment DISPLAY WAYLAND_DISPLAY SWAYSOCK
exec hash dbus-update-activation-environment 2>/dev/null && \
     dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY SWAYSOCK
     
# Welcome App
exec dex -a -s /etc/xdg/autostart/:~/.config/autostart/  

# clipster
exec clipster --daemon

# browser
exec firefox-developer-edition # work profile
exec firefox-developer-edition -P Personal # personal profile

# terminal
exec kitty --single-instance --session ~/.config/kitty/default-session.conf
exec kitty --single-instance --session ~/.config/kitty/scratchpad-session.conf --class kitty-scratchpad

# chat apps
exec slack
exec element-desktop
exec discord

{{ if .work -}}
# autoclose script
exec ~/.local/bin/autoclose
{{- end }}
