# vim:ft=swayconfig

# GTK3 applications take a long time to start
exec systemctl --user import-environment DISPLAY WAYLAND_DISPLAY SWAYSOCK
exec hash dbus-update-activation-environment 2>/dev/null && \
     dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY SWAYSOCK

# autostart
exec mako
exec /usr/lib/polkit-kde-authentication-agent-1
exec dex -a -s /etc/xdg/autostart/:~/.config/autostart/  

{{ if .work -}}
assign [window="1"] output DP-2
assign [window="2"] output DP-2
assign [window="3"] output DP-2
assign [window="4"] output DP-2
assign [window="5"] output DP-2
{{- end }}

# {{ if .work -}}
# autoclose script TODO: only works on xorg
# exec ~/.local/bin/autoclose
# {{- end }}
