[data]
work = {{ promptBool "work" }}
taskwarrior = {{ promptBool "taskwarrior" }}
mopidy = {{ promptBool "mopidy" }}
desktop = {{ promptBool "desktop" }}
email = {{ promptBool "email" }}

[data.backup]
enabled = {{ promptBool "backup" }}
