data.location=/home/joshmock/.task

editor=nvim

{{ if .work -}}
report.daily.description=Daily status report
report.daily.columns=id,description.desc,project
report.daily.filter=((start:today or end:today or modified:today) and (+WAITING or +PENDING or +COMPLETED) and -code_review and -fun)
report.daily.sort=modified-

report.standup.description=Standup report
report.standup.columns=id,urgency,description.desc,project
report.standup.filter=((end.after:now-1wk or start.after:now-1wk) and -code_review and -fun)
report.monthly.sort=urgency-

report.monthly.description=Monthly status report
report.monthly.columns=id,urgency,description.desc,project
report.monthly.filter=((start.after:today-30d or end.after:today-30d or modified.after:today-30d) and (-WAITING or +PENDING or +COMPLETED) and -code_review and -fun)
report.monthly.sort=modified-
{{- end }}

uda.githuburl.type=string
uda.githuburl.label=Github URL

{{ if .work -}}
uda.jiraurl.type=string
uda.jiraurl.label=Jira URL
{{- end }}

uda.url.type=string
uda.url.label=URL

uda.estimate.type=duration
uda.estimate.label=Estimate

news.version=2.6.0

{{ if .work -}}
{{ onepasswordRead "op://Elastic/taskwarrior config - work/notesPlain" }}
{{- end }}

uda.reviewed.type=date
uda.reviewed.label=Reviewed
report._reviewed.description=Tasksh review report.  Adjust the filter to your needs.
report._reviewed.columns=uuid
report._reviewed.sort=reviewed+,modified+
report._reviewed.filter=( reviewed.none: or reviewed.before:now-6days ) and ( +PENDING or +WAITING )

{{ if not .work -}}
taskd.certificate=\/home\/joshmock\/.task\/joshmock.cert.pem
taskd.key=\/home\/joshmock\/.task\/joshmock.key.pem
taskd.ca=\/home\/joshmock\/.task\/ca.cert.pem
taskd.server=task.joshmock.com:53589
taskd.credentials=joshmock\/joshmock\/1bf5dd7b-2c36-4b46-8a89-3f988705c382
{{- end }}
