data.location=/home/joshmock/.task

editor=lvim

{{ if .work -}}
report.daily.description=Daily status report
report.daily.columns=id,description.desc
report.daily.filter=((start:today or end:today or modified:today) and (+WAITING or +PENDING or +COMPLETED) and -code_review)
report.daily.sort=modified-

report.standup.description=Standup report
report.standup.columns=id,description.desc
report.standup.filter=((end.after:now-1wk) or (+open_pr and start.after:now-1wk))
{{- end }}

uda.githuburl.type=string
uda.githuburl.label=Github URL

{{ if .work -}}
uda.jiraurl.type=string
uda.jiraurl.label=Jira URL
{{- end }}

uda.url.type=string
uda.url.label=URL
news.version=2.6.0

{{ if .work -}}
urgency.user.project.clients.coefficient=7.0
urgency.user.project.Services.coefficient=5.0
urgency.user.project.licensing_portal.coefficient=0.8
urgency.user.project.infra.coefficient=0.9
urgency.user.project.elasticsearch-js.coefficient=8.0
urgency.user.project.elasticsearch-client-generator-js.coefficient=8.0
urgency.user.project.elasticsearch-transport-js.coefficient=8.0
urgency.user.project.clients-team.coefficient=3.0

urgency.user.tag.bug.coefficient=8.0
urgency.user.tag.pending_release.coefficient=9.0
urgency.user.tag.open_pr.coefficient=7.0
{{- end }}

uda.reviewed.type=date
uda.reviewed.label=Reviewed
report._reviewed.description=Tasksh review report.  Adjust the filter to your needs.
report._reviewed.columns=uuid
report._reviewed.sort=reviewed+,modified+
report._reviewed.filter=( reviewed.none: or reviewed.before:now-6days ) and ( +PENDING or +WAITING )

{{ if not .work -}}
taskd.certificate=\/home\/joshmock\/.task\/joshmock.cert.pem
taskd.key=\/home\/joshmock\/.task\/joshmock.key.pem
taskd.ca=\/home\/joshmock\/.task\/ca.cert.pem
taskd.server=task.joshmock.com:53589
taskd.credentials=joshmock\/joshmock\/1bf5dd7b-2c36-4b46-8a89-3f988705c382
{{- end }}
