#{{ if .chezmoi.config.data.backup.enabled }}
# vim: ft=yaml
version: 2

locations:
  home:
    from: /home/joshmock
    to:
      - local
      - b2
    options:
      forget:
        keep-last: 10
        keep-daily: 7
        keep-weekly: 5
        keep-monthly: 12
        keep-yearly: 20
      backup:
        exclude-file: /home/joshmock/.config/restic/restic-ignore
      {{- if .chezmoi.config.data.backup.healthcheck_id }}
      hooks:
        before:
          - curl -m 10 --retry 5 "https://hc-ping.com/{{ .chezmoi.config.data.backup.healthcheck_id }}/start"
        failure:
          - curl -m 10 --retry 5 "https://hc-ping.com/{{ .chezmoi.config.data.backup.healthcheck_id }}/fail"
        success:
          - curl -m 10 --retry 5 "https://hc-ping.com/{{ .chezmoi.config.data.backup.healthcheck_id }}"
      {{- end }}

backends:
  b2:
    type: b2
    path: 'joshmock-backups:{{ .chezmoi.hostname }}/'
    key: {{ onepasswordRead "op://Personal/restic backup password - all/password" }}
    env:
      B2_ACCOUNT_ID: '{{ onepasswordRead "op://Homelab/b2 backup - joshmock-backups bucket /add more/key ID" }}'
      B2_ACCOUNT_KEY: '{{ onepasswordRead "op://Homelab/b2 backup - joshmock-backups bucket /add more/key secret" }}'
  local:
    type: local
    path: /home/joshmock/.local/share/restic
    key: {{ onepasswordRead "op://Personal/restic backup password - all/password" }}
{{- end }}
