[Desktop Entry]
Type=Application
Exec=/usr/bin/kitty -- --session ~/.config/kitty/default-session.conf
Comment=Kitty default session
Name=Kitty (default)
