[Desktop Entry]
Type=Application
Exec=/usr/bin/firefox-developer-edition --profile=personal --class=firefox-developer-edition-personal
Comment=Firefox
Name=Firefox
