{{ if .work -}}
[Desktop Entry]
Type=Application
Exec=/usr/bin/kitty --session ~/.config/kitty/scratchpad-session.conf --class kitty-scratchpad
Comment=Kitty scratchpad
Name=Kitty (scratchpad)
{{- end }}
