{{ if .work -}}
[gdrive]
type = drive
client_id = {{ pass "rclone/google-drive/client-id" }}
client_secret = {{ pass "rclone/google-drive/client-secret" }}
scope = drive
token = {{ pass "rclone/google-drive/token" }}
{{ else -}}
[dropbox]
type = dropbox
token = {{ onepasswordRead "op://Personal/rclone token - personal dropbox/password" }}
{{- end }}
