source = ~/.config/hypr/env.conf
{{- $nvidia := output "/usr/bin/bash" "-c" "lspci -k | grep -iE '(vga|3d)' | grep -o NVIDIA; exit 0" }}
{{- if eqFold "NVIDIA\n" $nvidia }}
source = ~/.config/hypr/nvidia.conf
{{- end }}
source = ~/.config/hypr/input.conf
source = ~/.config/hypr/output.conf
source = ~/.config/hypr/theme.conf
source = ~/.config/hypr/keybinds.conf
source = ~/.config/hypr/application_defaults.conf
source = ~/.config/hypr/startup.conf
source = ~/.config/hypr/permissions.conf
