{{ if .work -}}
monitor = eDP-1, 3456x2160, 2560x0, 2
monitor = DP-2, 2560x1440, 0x0, 1
monitor = DP-3, disable

workspace = 1, monitor:DP-2, default:true
workspace = 2, monitor:DP-2
workspace = 3, monitor:DP-2
workspace = 4, monitor:DP-2
workspace = 5, monitor:eDP-1
{{ else }}
monitor=,preferred,auto,2
{{ end -}}

render {
  explicit_sync = 0
  explicit_sync_kms = 0
}

xwayland {
  force_zero_scaling = true
}
