command_timeout = 1000
format = """\
  $cmd_duration\
  $sudo\
  $directory\
  $custom\
  $python\
  $rust\
  $nodejs\
  $container\
  ${env_var.ZMX_SESSION}\
  ${env_var.TEST_SUITE}\
  ${env_var.STACK_VERSION}\
  $line_break\
  $character\
"""

[directory]
style = "bold #999999"

[git_branch]
disabled = true

[git_state]
disabled = true

[git_status]
disabled = true

[python]
style = "#AAEEAA"

{{ if .work -}}
[env_var.TEST_SUITE]
format = "ste:$env_value($style)"

[env_var.STACK_VERSION]
format = "v$env_value($style)"
{{- end }}

[env_var.ZMX_SESSION]
style = "#8899BB"
format = '[$env_value]($style) '

[nodejs]
version_format = "v${major}.${minor}"
format = "[$symbol($version )]($style)"

[custom.jj]
require_repo = true
description = 'jujutsu'
symbol = 'ʝ:'
when = 'jj workspace root --ignore-working-copy'
command = "jj log --ignore-working-copy -r @ --no-graph -T 'change_id.shortest() ++ if(empty, \" ø\")'"
style = 'bold #566C82'

[custom.git_branch]
require_repo = true
description = 'git branch (non-jj)'
when = '! jj --ignore-working-copy workspace root 2>/dev/null'
command = 'git branch --show-current 2>/dev/null || git rev-parse --short HEAD'
symbol = ' '
style = 'bold #566C82'

[custom.git_status]
require_repo = true
description = 'git status (non-jj)'
when = '! jj --ignore-working-copy workspace root 2>/dev/null'
command = '''
s=""; \
[[ -n "$(git diff --name-only 2>/dev/null)" ]] && s="${s}!"; \
[[ -n "$(git diff --cached --name-only 2>/dev/null)" ]] && s="${s}+"; \
[[ -n "$(git ls-files --others --exclude-standard 2>/dev/null)" ]] && s="${s}?"; \
[[ -n "$s" ]] && echo "[$s]"
echo " "
'''
style = '#AB5454'
format = '[$output]($style)'
