[general]
taskrc = /home/joshmock/.taskrc
annotation_comments = False
annotation_links = True
merge_tags = True
replace_tags = False
{{ if .work -}}
targets = elastic_my_issues,elastic_my_prs,elastic_code_reviews,elastic_client_js_prs,elastic_client_js_unassigned_bugs,elastic_transport_js_unassigned_bugs

[elastic_my_issues]
service = github
github.login = JoshMock
github.password = {{ pass "github-token/bugwarrior" }}
github.username = elastic
github.include_user_issues = False
github.include_user_repos = False
github.description_template = {{ "{{githubtitle}}" }}
github.query = is:open is:issue assignee:JoshMock archived:false user:elastic
github.default_priority = M
github.import_labels_as_tags = True

[elastic_my_prs]
service = github
github.login = JoshMock
github.password = {{ pass "github-token/bugwarrior" }}
github.username = elastic
github.include_user_issues = False
github.include_user_repos = False
github.description_template = {{ "{{githubtitle}}" }}
github.query = is:open is:pr archived:false user:elastic author:JoshMock
github.default_priority = M
github.add_tags = open_pr
github.import_labels_as_tags = True

[elastic_code_reviews]
service = github
github.login = JoshMock
github.password = {{ pass "github-token/bugwarrior" }}
github.username = elastic
github.include_user_issues = False
github.include_user_repos = False
github.description_template = {{ "{{githubtitle}}" }}
github.query = is:open is:pr archived:false user:elastic review-requested:JoshMock
github.default_priority = H
github.add_tags = code_review
github.import_labels_as_tags = True

[elastic_client_js_prs]
service = github
github.login = JoshMock
github.password = {{ pass "github-token/bugwarrior" }}
github.username = elastic
github.include_user_issues = False
github.include_user_repos = False
github.description_template = {{ "{{githubtitle}}" }}
github.query = repo:elastic/elasticsearch-js is:open is:pr archived:false
github.default_priority = M
github.add_tags = code_review
github.import_labels_as_tags = True

[elastic_client_js_unassigned_bugs]
service = github
github.login = JoshMock
github.password = {{ pass "github-token/bugwarrior" }}
github.username = elastic
github.include_user_issues = False
github.include_user_repos = False
github.description_template = {{ "{{githubtitle}}" }}
github.query = repo:elastic/elasticsearch-js is:open is:issue archived:false label:"Category: Bug"
github.default_priority = L
github.add_tags = unassigned
github.import_labels_as_tags = True

[elastic_transport_js_unassigned_bugs]
service = github
github.login = JoshMock
github.password = {{ pass "github-token/bugwarrior" }}
github.username = elastic
github.include_user_issues = False
github.include_user_repos = False
github.description_template = {{ "{{githubtitle}}" }}
github.query = repo:elastic/elastic-transport-js is:open is:issue archived:false label:"Category: Bug"
github.default_priority = L
github.add_tags = unassigned
github.import_labels_as_tags = True
{{ else -}}
targets = joshmock_issues

[joshmock_issues]
service = github
github.login = JoshMock
github.password = {{ onepasswordRead "op://Personal/Bugwarrior Github token - personal/password" }}
github.username = JoshMock
github.include_user_issues = True
github.include_user_repos = True
github.exclude_repos = backbone-socketio
github.description_template = {{ "{{githubtitle}}" }}
github.query = user:JoshMock is:issue is:open archived:false
github.default_priority = M
github.import_labels_as_tags = True
{{- end }}
