configuration {
  modi: "combi,drun,window,ssh,keys,calc";
  font: "FiraCode Nerd Font 12";
  combi-modi: "drun,window,ssh,keys,calc";
  matching: "fuzzy";
  case-sensitive: false;
  show-icons: true;
}

@theme "glue_pro_blue"
