configuration {
  modi: "combi,drun,my scripts:~/.config/rofi/script_mode.sh,window,ssh,calc";
  font: "FiraCode Nerd Font 12";
  combi-modi: "drun,my scripts:~/.config/rofi/script_mode.sh,window,ssh,calc";
  matching: "fuzzy";
  case-sensitive: false;
  show-icons: true;
}

@theme "glue_pro_blue"
