configuration {
  modi: "combi,window,drun,ssh,keys,calc";
  theme: "Pop-Dark";
  font: "Hack 12";
  combi-modi: "window,drun,ssh,keys,calc";
  matching: "fuzzy";
  case-sensitive: false;
  show-icons: true;
}
