{{ if .mopidy -}}
[core]
restore_state = true

[local]
media_dir = /home/joshmock/Music
scan_follow_symlinks = true
album_art_files =
  *.jpg
  *.jpeg
  *.png

[logging]
verbosity = 2

[audio]
mixer = software

[file]
enabled = true
media_dirs =
  ~/Music|Music
excluded_file_extensions =
  .directory
  .html
  .jpeg
  .jpg
  .log
  .nfo
  .pdf
  .png
  .txt
  .zip
show_dotfiles = false
follow_symlinks = true
metadata_timeout = 1000

[http]
enabled = true
hostname = 127.0.0.1
port = 6680
allowed_origins = 127.0.0.1:6680

[beets]
enabled = false
# hostname = nas.local
# port = 8337

[bandcamp]
enabled = true
identity = {{ onepasswordRead "op://Personal/Bandcamp - mopidy identity/password" }}

[tidal]
enabled = true
quality = HI_RES_LOSSLESS

[scrobbler]
enabled = true
username = Perfect13thStep
password = {{ onepasswordRead "op://Personal/Last.fm/Password" }}

[mpris]
enabled = true

[mpd]
hostname = ::

[youtube]
enabled = true

[mowecl]
enabled = true
key_play_pause = space
theme_type = dark

[iris]
enabled = true

[jellyfin]
enabled = false
hostname = nas:8096
username = root
password = {{ onepasswordRead "op://Personal/nas.local jellyfin admin/password" }}
libraries = Music

[internetarchive]
enabled = true

[soundcloud]
auth_token = {{ onepasswordRead "op://Personal/Soundcloud/add more/api auth token" }}
{{ end -}}
