{{- if .chezmoi.config.data.backup.enabled }}
[Unit]
Description=Scheduled backups, powered by autorestic.

[Service]
Type=oneshot
ExecStart=/usr/bin/autorestic --ci backup -a

[Install]
WantedBy=backup.timer
{{ end }}
