{{- if .backup.enabled }}
[Unit]
Description=Scheduled backups, powered by autorestic.

[Service]
Type=oneshot
ExecStart=bash -c "/usr/local/bin/autorestic --ci backup -a -- unlock && /usr/local/bin/autorestic --ci forget --prune -a -- unlock"

[Install]
WantedBy=backup.timer
{{ end }}
