{{- if .backup.enabled }}
[Unit]
Description=Scheduled backups, powered by autorestic.

[Service]
Type=oneshot
ExecStart=/home/joshmock/.local/bin/restic-backup
Environment="GOMAXPROCS=2"
NoNewPrivileges=yes
ProtectSystem=strict
ProtectClock=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectProc=invisible
ProcSubset=pid
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes

[Install]
WantedBy=backup.timer
{{ end }}
