{{ if .email -}}
[Unit]
Description=remove oldest messages from email archive

[Service]
Type=oneshot
ExecStart=/usr/bin/fd --older=1year . /home/joshmock/.local/share/mail/*/Archive -X rm

[Install]
WantedBy=clear-mail-archive.timer
{{ end }}
