{{ if .mopidy -}}
[Unit]
Description=Mopidy music server
After=avahi-daemon.service
After=dbus.service
After=network-online.target
Wants=network-online.target
After=nss-lookup.target
After=pulseaudio.service
After=pipewire.service
After=remote-fs.target
After=sound.target

[Service]
ExecStart=/usr/bin/mopidy --config /home/joshmock/.config/mopidy/mopidy.conf
ExecStartPost=/usr/bin/curl -d '{"jsonrpc": "2.0", "id": 1, "method": "core.tracklist.set_consume", "params": [true] }' -H 'Content-Type: application/json' "http://localhost:6680/mopidy/rpc"


[Install]
WantedBy=default.target
{{ end -}}
