{{ if .mopidy -}}
[Unit]
Description=Mopidy music server
After=avahi-daemon.service
After=dbus.service
After=network-online.target
Wants=network-online.target
After=nss-lookup.target
After=pulseaudio.service
After=pipewire.service
After=remote-fs.target
After=sound.target

[Service]
ExecStartPre=/usr/bin/timeout 120 /bin/sh -c 'until curl -sf --max-time 2 https://api.tidal.com/v1/ping > /dev/null 2>&1; do sleep 2; done'
ExecStart=/home/joshmock/.local/bin/mopidy --config /home/joshmock/.config/mopidy/mopidy.conf
ExecStartPost=/bin/sh -c 'until curl -sf --max-time 2 http://localhost:6680/mopidy/rpc -d "{\"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"core.tracklist.set_consume\", \"params\": [true]}" -H "Content-Type: application/json" > /dev/null 2>&1; do sleep 2; done'

[Install]
WantedBy=default.target
{{ end -}}
